alabaster==0.7.3
astroid==1.3.6
Babel==1.3
bcrypt==3.1.3
beautifulsoup4==4.3.2
cffi==1.10.0
coverage==4.0a5
Django==1.11.7
django-admin-bootstrapped==2.5.7
django-admin-interface==0.5.8
django-authtools==1.6.0
django-bootstrap-form==3.2
django-bootstrap-forms==0.1
django-bower==5.0.2
django-braces==1.11.0
django-colorfield==0.1.14
django-cors-headers==1.0.0
django-crispy-forms==1.7.0
django-debug-toolbar==1.8
django-environ==0.4.4
django-extensions==1.7.9
django-flat-responsive==2.0
django-flat-theme==1.1.4
django-nose==1.3
djangorestframework==3.1.1
docopt==0.6.2
docutils==0.12
easy-thumbnails==2.5
Faker==0.7.17
googlemaps==2.2
gunicorn==19.7.1
httplib2==0.9
httpretty==0.8.8
ipaddress==1.0.18
jedi==0.10.2
Jinja2==2.7.3
logilab-common==0.63.2
MarkupSafe==0.23
mock==1.0.1
nltk==3.2.4
nose==1.3.4
oauth2==1.5.211
oauthlib==0.7.2
olefile==0.44
Pillow==4.3.0
prompt-toolkit==1.0.14
ptpython==0.39
pycparser==2.17
Pygments==2.0.2
pylint==1.4.3
python-dateutil==2.6.0
python-openid==2.2.5
PyTumblr==0.0.6
pytz==2015.2
requests==2.6.0
requests-oauthlib==0.4.2
simplejson==3.6.5
six==1.9.0
snowballstemmer==1.2.0
Sphinx==1.3.1
sphinx-rtd-theme==0.1.7
sqlparse==0.2.4
twilio==3.8.0
wcwidth==0.1.7
Werkzeug==0.12.2
whenpy==0.3.0
